<mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (beforeViewRender)="beforeMonthViewRender($event)"
    [refresh]="refresh"
    (dayClicked)="viewDate = $event.day.date; view = 'day'">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [hourSegments]="6"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="9"
    [dayEndHour]="20"
    (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [hourSegments]="6"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="9"
    [dayEndHour]="20">
  </mwl-calendar-day-view>
</div>

<h2>Services</h2>
<ul class="services" >
  <li *ngFor="let service of services" 
      [class.selected]="service === selectedService"
      (click)="onSelect(service)">
      <span class="serv">{{service.id}}</span>
  </li>
</ul>