<h2>Services</h2>

{{provaGianni}}
{{showGianni}}

<ul class="services" *ngIf="show">
  <li *ngFor="let service of services" 
      [class.selected]="service === selectedService"
      (click)="onSelect(service)">
      <span class="serv">{{service.id}}</span>
  </li>
</ul>

<mwl-demo-utils-calendar-header
  [(view)]="view"
  [(viewDate)]="viewDate">
</mwl-demo-utils-calendar-header>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    (beforeViewRender)="beforeMonthViewRender($event)"
    [refresh]="refresh"
    (dayClicked)="viewDate = $event.day.date; view = 'day'">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [hourSegments]="6"
    [viewDate]="viewDate"
    [events]="events"
    [dayStartHour]="9"
    [dayEndHour]="20"
    (dayHeaderClicked)="viewDate = $event.day.date; view = 'day'">
  </mwl-calendar-week-view>

  <mwl-day-view-scheduler
  *ngSwitchCase="'day'"
  [viewDate]="viewDate"
  [events]="events"
  [hourSegments]="6"
  (eventTimesChanged)="eventTimesChanged($event)"
  (userChanged)="userChanged($event)">
</mwl-day-view-scheduler>
</div>
