<nav >
  <div class="container navbar">
      <a >BookApp</a>
      <ul routerLinkActive="active">
          <li><a class="btn btn-primary" [class.active]="mode === 'view'"
            href="#" role="button" [routerLink]="['calendarView', 'view']">visualizza</a></li>
          <li><a class="btn btn-primary" [class.active]="mode === 'manage'"
            href="#" role="button" [routerLink]="['calendarManage', 'manage']">prenota</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>
