<!-- <nav >
  <div class="container navbar">
      <a >BookApp</a>
      <ul routerLinkActive="active">
          <li><a class="btn btn-primary" [class.active]="mode === 'view'"
            href="#" role="button" [routerLink]="['calendarView', 'view']">visualizza</a></li>
          <li><a class="btn btn-primary" [class.active]="mode === 'manage'"
            href="#" role="button" [routerLink]="['calendarManage', 'manage']">prenota</a></li>
      </ul>
  </div>
</nav> -->


<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!--  <span>HOME</span> -->
     <span><a href="/" >pArish</a></span>
     <span class="spacer"></span>
     <!-- [class.active]="mode === 'view'" -->
     <a class="btn btn-primary" 
      href="#" role="button" [routerLink]="['calendarView', 'view']">visualizza</a>
      <!-- [class.active]="mode === 'manage'" -->
     <a class="btn btn-primary" 
      href="#" role="button" [routerLink]="['calendarManage', 'manage']">prenota</a>
     <a mat-button routerLink="/register">Register</a>
     <a mat-button routerLink="/login">Login</a>
     <a mat-button routerLink="/logout">Logout</a>
  </mat-toolbar-row>
</mat-toolbar>

<div style="margin-top: 30px">
  <router-outlet></router-outlet>
</div>

